In [13]:
import numpy as np
import pandas as pd
import datetime
from sklearn.preprocessing import OneHotEncoder

In [8]:
df = pd.read_csv('../../raw_data/flights.csv',nrows=500000)

In [9]:
df.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df['DATE'] = pd.to_datetime(df[['YEAR','MONTH', 'DAY']])

In [11]:
#_________________________________________________________
# Function that convert the 'HHMM' string to datetime.time
def format_heure(chaine):
    if pd.isnull(chaine):
        return np.nan
    else:
        if chaine == 2400: chaine = 0
        chaine = "{0:04d}".format(int(chaine))
        heure = datetime.time(int(chaine[0:2]), int(chaine[2:4]))
        return heure
#_____________________________________________________________________
# Function that combines a date and time to produce a datetime.datetime
def combine_date_heure(x):
    if pd.isnull(x[0]) or pd.isnull(x[1]):
        return np.nan
    else:
        return datetime.datetime.combine(x[0],x[1])
#_______________________________________________________________________________
# Function that combine two columns of the dataframe to create a datetime format
def create_flight_time(df, col):    
    liste = []
    for index, cols in df[['DATE', col]].iterrows():    
        if pd.isnull(cols[1]):
            liste.append(np.nan)
        elif float(cols[1]) == 2400:
            cols[0] += datetime.timedelta(days=1)
            cols[1] = datetime.time(0,0)
            liste.append(combine_date_heure(cols))
        else:
            cols[1] = format_heure(cols[1])
            liste.append(combine_date_heure(cols))
    return pd.Series(liste)

In [14]:
df['SCHEDULED_DEPARTURE'] = create_flight_time(df, 'SCHEDULED_DEPARTURE')
df['DEPARTURE_TIME'] = df['DEPARTURE_TIME'].apply(format_heure)
df['SCHEDULED_ARRIVAL'] = df['SCHEDULED_ARRIVAL'].apply(format_heure)
df['ARRIVAL_TIME'] = df['ARRIVAL_TIME'].apply(format_heure)
#__________________________________________________________________________
df.loc[:5, ['SCHEDULED_DEPARTURE', 'SCHEDULED_ARRIVAL', 'DEPARTURE_TIME',
             'ARRIVAL_TIME', 'DEPARTURE_DELAY', 'ARRIVAL_DELAY']]

,SCHEDULED_DEPARTURE,SCHEDULED_ARRIVAL,DEPARTURE_TIME,ARRIVAL_TIME,DEPARTURE_DELAY,ARRIVAL_DELAY
0,2015-01-01 00:05:00,04:30:00,23:54:00,04:08:00,-11.0,-22.0
1,2015-01-01 00:10:00,07:50:00,00:02:00,07:41:00,-8.0,-9.0
2,2015-01-01 00:20:00,08:06:00,00:18:00,08:11:00,-2.0,5.0
3,2015-01-01 00:20:00,08:05:00,00:15:00,07:56:00,-5.0,-9.0
4,2015-01-01 00:25:00,03:20:00,00:24:00,02:59:00,-1.0,-21.0
5,2015-01-01 00:25:00,06:02:00,00:20:00,06:10:00,-5.0,8.0

In [15]:
missing_df = df.isnull().sum(axis=0).reset_index()
missing_df.columns = ['variable', 'missing values']
missing_df['filling factor (%)']=(df.shape[0]-missing_df['missing values'])/df.shape[0]*100
missing_df.sort_values('filling factor (%)').reset_index(drop = True)

               variable  missing values  filling factor (%)
0   CANCELLATION_REASON          483176              3.3648
1   LATE_AIRCRAFT_DELAY          397701             20.4598
2         AIRLINE_DELAY          397701             20.4598
3        SECURITY_DELAY          397701             20.4598
4      AIR_SYSTEM_DELAY          397701             20.4598
5         WEATHER_DELAY          397701             20.4598
6          ELAPSED_TIME           17948             96.4104
7              AIR_TIME           17948             96.4104
8         ARRIVAL_DELAY           17948             96.4104
9             WHEELS_ON           17159             96.5682
10         ARRIVAL_TIME           17159             96.5682
11              TAXI_IN           17159             96.5682
12             TAXI_OUT           16704             96.6592
13           WHEELS_OFF           16704             96.6592
14       DEPARTURE_TIME           16416             96.7168
15      DEPARTURE_DELAY           16416             96.7168
16          TAIL_NUMBER            3750             99.2500
17       SCHEDULED_TIME               1             99.9998
18            CANCELLED               0            100.0000
19             DIVERTED               0            100.0000
20                 YEAR               0            100.0000
21             DISTANCE               0            100.0000
22  SCHEDULED_DEPARTURE               0            100.0000
23  DESTINATION_AIRPORT               0            100.0000
24       ORIGIN_AIRPORT               0            100.0000
25        FLIGHT_NUMBER               0            100.0000
26              AIRLINE               0            100.0000
27          DAY_OF_WEEK               0            100.0000
28                  DAY               0            100.0000
29                MONTH               0            100.0000
30    SCHEDULED_ARRIVAL               0            100.0000
31                 DATE               0            100.0000

In [16]:
df[df['WEATHER_DELAY']>0]['CANCELLED'].value_counts()

CANCELLED
0    7417
Name: count, dtype: int64

In [17]:
df[df['SECURITY_DELAY']>0]['CANCELLED'].value_counts()

CANCELLED
0    297
Name: count, dtype: int64

In [18]:
df[df['AIRLINE_DELAY']>0]['CANCELLED'].value_counts()

CANCELLED
0    53966
Name: count, dtype: int64

In [19]:
features_prelim = ['MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT',
                     'SCHEDULED_TIME', 'DISTANCE', 'SCHEDULED_ARRIVAL', 'CANCELLED']
cancelation_df = df[features_prelim].copy()

In [20]:
cancelation_df.head()

,MONTH,DAY,DAY_OF_WEEK,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_TIME,DISTANCE,SCHEDULED_ARRIVAL,CANCELLED
0,1,1,4,AS,ANC,SEA,205.0,1448,04:30:00,0
1,1,1,4,AA,LAX,PBI,280.0,2330,07:50:00,0
2,1,1,4,US,SFO,CLT,286.0,2296,08:06:00,0
3,1,1,4,AA,LAX,MIA,285.0,2342,08:05:00,0
4,1,1,4,AS,SEA,ANC,235.0,1448,03:20:00,0

In [29]:
cancelation_df.to_csv('../../raw_data/cancelation_df.csv', index=False)

In [21]:
print(f"The unique values for 'Airlines' are {cancelation_df.AIRLINE.unique()}")

The unique values for 'Airlines' are ['AS' 'AA' 'US' 'DL' 'NK' 'UA' 'HA' 'B6' 'OO' 'EV' 'MQ' 'F9' 'WN' 'VX']

In [22]:
cancelation_df.AIRLINE.value_counts()

AIRLINE
WN    106253
DL     68555
EV     52965
OO     51184
AA     46950
UA     40873
US     35591
MQ     31896
B6     23062
AS     14149
NK      9324
F9      7291
HA      6858
VX      5049
Name: count, dtype: int64

In [23]:
# Instantiate the OneHotEncoder
ohe = OneHotEncoder(sparse = False) 

# Fit encoder
ohe.fit(cancelation_df[['AIRLINE']]) 

# Display the detected categories
print(f"The categories detected by the OneHotEncoder are {ohe.categories_}")

The categories detected by the OneHotEncoder are [array(['AA', 'AS', 'B6', 'DL', 'EV', 'F9', 'HA', 'MQ', 'NK', 'OO', 'UA',
       'US', 'VX', 'WN'], dtype=object)]

/Users/diego/.pyenv/versions/3.10.6/envs/flight-predictor/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [24]:
# Display the generated names
print(f"The column names for the encoded values are {ohe.get_feature_names_out()}")

# Transform the current "Street" column
cancelation_df[ohe.get_feature_names_out()] = ohe.transform(cancelation_df[['AIRLINE']])

# Drop the column "Street" which has been encoded
cancelation_df.drop(columns = ["AIRLINE"], inplace = True)

# Show the dataset
cancelation_df.head(3)

The column names for the encoded values are ['AIRLINE_AA' 'AIRLINE_AS' 'AIRLINE_B6' 'AIRLINE_DL' 'AIRLINE_EV'
 'AIRLINE_F9' 'AIRLINE_HA' 'AIRLINE_MQ' 'AIRLINE_NK' 'AIRLINE_OO'
 'AIRLINE_UA' 'AIRLINE_US' 'AIRLINE_VX' 'AIRLINE_WN']

,MONTH,DAY,DAY_OF_WEEK,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_TIME,DISTANCE,SCHEDULED_ARRIVAL,CANCELLED,AIRLINE_AA,...,AIRLINE_EV,AIRLINE_F9,AIRLINE_HA,AIRLINE_MQ,AIRLINE_NK,AIRLINE_OO,AIRLINE_UA,AIRLINE_US,AIRLINE_VX,AIRLINE_WN
0,1,1,4,ANC,SEA,205.0,1448,04:30:00,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,1,4,LAX,PBI,280.0,2330,07:50:00,0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,1,4,SFO,CLT,286.0,2296,08:06:00,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

# FILTRANDO EL DATASET

### PARA ESTO UTILIZAREMOS EL DATASET COMPLETO (5M DE DATOS)

In [27]:
df_completo = pd.read_csv('../../raw_data/flights.csv')#,nrows=500000)

/var/folders/wd/v2y3d4d948j0h2gc56s15nzr0000gn/T/ipykernel_75600/3769393720.py:1: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  df_completo = pd.read_csv('../../raw_data/flights.csv')#,nrows=500000)

In [28]:
features_prelim = ['MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT',
                     'SCHEDULED_TIME', 'DISTANCE', 'SCHEDULED_ARRIVAL', 'CANCELLED']
cancelation_df2 = df_completo[features_prelim].copy()

cancelation_df2.head()

,MONTH,DAY,DAY_OF_WEEK,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_TIME,DISTANCE,SCHEDULED_ARRIVAL,CANCELLED
0,1,1,4,AS,ANC,SEA,205.0,1448,430,0
1,1,1,4,AA,LAX,PBI,280.0,2330,750,0
2,1,1,4,US,SFO,CLT,286.0,2296,806,0
3,1,1,4,AA,LAX,MIA,285.0,2342,805,0
4,1,1,4,AS,SEA,ANC,235.0,1448,320,0

In [34]:
# Filtra el dataset para tener solo los datos donde CANCELLED es igual a 1
only_cancelled = cancelation_df2.loc[cancelation_df2['CANCELLED'] == 1]

# Muestra el nuevo dataframe filtrado
only_cancelled.head()

,MONTH,DAY,DAY_OF_WEEK,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_TIME,DISTANCE,SCHEDULED_ARRIVAL,CANCELLED
32,1,1,4,AS,ANC,SEA,205.0,1448,600,1
42,1,1,4,AA,PHX,DFW,120.0,868,500,1
68,1,1,4,OO,MAF,IAH,87.0,429,637,1
82,1,1,4,MQ,SGF,DFW,95.0,364,700,1
90,1,1,4,OO,RDD,SFO,90.0,199,700,1

In [35]:
only_cancelled.CANCELLED.value_counts()

CANCELLED
1    89884
Name: count, dtype: int64

In [37]:
only_cancelled.to_csv('../../raw_data/ony_cancelled_df.csv', index=False)

In [49]:
only_cancelled.ORIGIN_AIRPORT.unique()

array(['ANC', 'PHX', 'MAF', 'SGF', 'RDD', 'CHS', 'SMX', 'ABI', 'XNA',
       'DCA', 'LGA', 'MCO', 'SFO', 'ONT', 'MSO', 'ORD', 'AMA', 'CLL',
       'HOU', 'DFW', 'JLN', 'CID', 'MLI', 'GSP', 'MHK', 'MOB', 'TLH',
       'CVG', 'CAE', 'TXK', 'CMX', 'SMF', 'LRD', 'MFE', 'FSM', 'AEX',
       'SPS', 'ACT', 'SJT', 'JAN', 'BNA', 'DTW', 'FAR', 'MSN', 'SJC',
       'SAV', 'GRI', 'LAX', 'ATL', 'LEX', 'VPS', 'GPT', 'MGM', 'MSY',
       'SPI', 'IAH', 'PIA', 'ROW', 'FWA', 'FLL', 'HOB', 'COU', 'SAF',
       'GRR', 'LFT', 'TUL', 'ELP', 'DVL', 'TUS', 'GRK', 'PNS', 'GJT',
       'BMI', 'RKS', 'MIA', 'DAL', 'LCH', 'GCK', 'GSO', 'AUS', 'BTR',
       'ICT', 'FLG', 'STL', 'SAT', 'JMS', 'MSP', 'ROC', 'TPA', 'OMA',
       'SHV', 'TOL', 'CRP', 'OKC', 'LAW', 'DSM', 'LBB', 'LIT', 'SAN',
       'DEN', 'MEM', 'APN', 'CMH', 'HSV', 'SLC', 'MKE', 'BHM', 'TYR',
       'MLU', 'GUC', 'ABQ', 'DRO', 'CHA', 'BRO', 'HRL', 'PHL', 'EGE',
       'BWI', 'CLT', 'SDF', 'FCA', 'DIK', 'PUB', 'ASE', 'JFK', 'ISN',
       'BOI', 'CPR', 'PDX', 'SNA', 'GGG', 'PSC', 'OGG', 'BOS', 'HNL',
       'OAK', 'BUR', 'TYS', 'LAS', 'PSP', 'IND', 'RAP', 'MDW', 'SEA',
       'GCC', 'HYS', 'JAC', 'EUG', 'COD', 'GEG', 'MOT', 'MCI', 'HLN',
       'BTM', 'FSD', 'PLN', 'RDM', 'HPN', 'CLE', 'AZO', 'IAD', 'COS',
       'MTJ', 'PIT', 'TTN', 'MFR', 'ROA', 'RIC', 'DBQ', 'TVC', 'GTF',
       'BIL', 'FNT', 'CMI', 'SBP', 'RSW', 'GNV', 'GRB', 'SYR', 'RDU',
       'LGB', 'YAK', 'SJU', 'SWF', 'EWR', 'BUF', 'JNU', 'BIS', 'BQN',
       'BJI', 'ESC', 'MRY', 'SBN', 'BZN', 'CWA', 'LNK', 'SUX', 'EWN',
       'BQK', 'LSE', 'ALO', 'RHI', 'RST', 'ORH', 'JAX', 'BDL', 'ORF',
       'FAT', 'DAY', 'CRW', 'CHO', 'LAN', 'MKG', 'MBS', 'MHT', 'EVV',
       'MDT', 'ACV', 'SBA', 'PVD', 'BPT', 'HIB', 'ABR', 'MYR', 'BRD',
       'DLH', 'SCE', 'STC', 'IMT', 'KOA', 'ERI', 'ELM', 'WRG', 'BET',
       'IDA', 'OAJ', 'TWF', 'EAU', 'ATW', 'AVP', 'CAK', 'IAG', 'BTV',
       'PAH', 'RNO', 'PIH', 'KTN', 'CLD', 'ABE', 'MEI', 'SUN', 'FAI',
       'PBI', 'BFL', 'ABY', 'ADQ', 'VLD', 'TRI', 'ECP', 'LIH', 'EYW',
       'AVL', 'PWM', 'VEL', 'CEC', 'OTH', 'MMH', 'PBG', 'MQT', 'PHF',
       'OME', 'FAY', 'ISP', 'SRQ', 'HDN', 'PSE', 'SCC', 'STT', 'ALB',
       'ACY', 'PSG', 'ITO', 'OTZ', 'YUM', 'BLI', 'ILG', 'BGM', 'CIU',
       'UST', 'SIT', 'LBE', 'BGR', 'ITH', 'LAR', 'PIB', 'CDV', 'DHN',
       'GTR', 'CDC', 'DAB', 'MLB', 'AGS', 'ILM', 'BRW', 'CSG', 'CNY',
       'ADK', 'STX', 'GUM', 'INL', 'EKO', 'SGU', 'GFK', 'HYA', 'ACK',
       'GST', '13198', '10821', '11695', '11618', '14771', '13204',
       '13796', '12892', '14893', 10800, 14107, 14893, 12892, 14908,
       13796, 11057, 12197, 14771, 12953, 12173, 10299, 11618, 13204,
       10721, 11278, 14321, 13970, 10792, 13495, 13873, 13830, 11433,
       11292, 10693, 13487, 14698, 10599, 13871, 11612, 11109, 14027,
       14570, 12266, 11042, 13198, 11697, 14524, 13296, 15041, 13244,
       12323, 10257, 11193, 12339, 13342, 10994, 15016, 10431, 10868,
       11995, 14307, 14685, 10785, 14100, 13422, 10821, 12451, 14457,
       12992, 11267, 11986, 11996, 13930, 14747, 14869, 10747, 12278,
       12884, 10849, 13303, 13851, 10779, 13256, 11884, 10713, 12478,
       14679, 10397, 14006, 10423, 12191, 11977, 11298, 15070, 14843,
       11638, 14492, 13577, 14057, 12389, 12888, 11259, 13158, 14635,
       10529, 12982, 14831, 13264, 12889, 15304, 10170, 13476, 13933,
       11540, 11603, 11775, 15376, 11076, 11973, 13891, 11423, 13232,
       11587, 10140, 11066, 12819, 12264, 11721, 15412, 15841, 13964,
       13184, 11637, 12523, 14709, 11337, 10754, 11630, 14108, 10620,
       14905, 14952, 10408, 12129, 12343, 10157, 14689, 15401, 10781,
       14783, 11140, 12206, 13377, 12915, 14193, 11122, 12016, 12898,
       10627, 14683, 14814, 14254, 14576, 13433, 15370, 10333, 14674,
       14588, 10990, 15096, 10372, 10136, 12448, 14842, 10155, 10185,
       11982, 15919, 11778, 15411, 12891, 12896, 13061, 10279, 11049,
       14960, 11413, 12951, 10728, 13076, 15624, 11980, 13277, 13367,
       11905, 10980, 14109, 15249, 11921, 11867, 13290, 14122, 11003,
       13241, 14520, 12335, 14256, 12945, 10141, 10469, 10874, 11695,
       13931, 14730, 10158, 12954, '10423', '10747', '11298', '12191',
       '13930', '11259', '12889', '12478', '11057', '10721', '12266',
       '11292', '13964', '13495', '14960', '12953', '11697', '11278',
       '14679', '11140', '10155', '10693', '11612', '13256', '11049',
       '14842', '12915', '10397', '14107', '14831', '11003', '13277',
       '14908', '13422', '10185', '10781', '12992', '13232', '13303',
       '15919', '15016', '14747', '14100', '11603', '10140', '14683',
       '12951', '15304', '11267', '11540', '12339', '11905', '14492',
       '14635', '13851', '11066', '15376', '14783', '12523', '12954',
       '12206', '11982', '13244', '14193', '11097', '10800', '13158',
       '12896', '14122', '11973', '12278', '14986', '13933', '14685',
       '11433', '14843', '11042'], dtype=object)

In [50]:
only_cancelled.ORIGIN_AIRPORT.value_counts()

ORIGIN_AIRPORT
ORD      8548
DFW      6254
LGA      4531
EWR      3110
BOS      2654
         ...
14689       1
15070       1
12954       1
10158       1
11042       1
Name: count, Length: 609, dtype: int64

### YA TOMAMOS LOS 89.884 FILAS CON VUELOS CANCELADOS, AHORA TOMAREMOS 808.956 (9 VECES LA CANTIDAD DE VUELOS CANCELADOS)

In [38]:
# Filtra el dataset original para tener solo las filas donde CANCELLED sea igual a 0
df_filtered = df_completo[df_completo['CANCELLED'] == 0]

# Toma una muestra aleatoria de 808,956 filas del DataFrame filtrado
sample_not_cancelled_df = df_filtered.sample(n=808956, random_state=42)

# Guarda el nuevo DataFrame como archivo
sample_not_cancelled_df.to_csv('../../raw_data/not_cancelled_df.csv', index=False)

### FINALMENTE, MEZCLAMOS AMBOS DATAFRAMES

In [39]:
# Combinar los dataframes sample_not_cancelled_df y only_cancelled
combined_df = pd.concat([sample_not_cancelled_df, only_cancelled])

In [40]:
combined_df.to_csv('../../raw_data/pre_cleaned_flights.csv', index=False)

# ONE HOT ENCODE EN DATAFRAME COMBINADO

In [41]:
# Instantiate the OneHotEncoder
ohe = OneHotEncoder(sparse = False) 

# Fit encoder
ohe.fit(combined_df[['AIRLINE']]) 

# Display the detected categories
print(f"The categories detected by the OneHotEncoder are {ohe.categories_}")

The categories detected by the OneHotEncoder are [array(['AA', 'AS', 'B6', 'DL', 'EV', 'F9', 'HA', 'MQ', 'NK', 'OO', 'UA',
       'US', 'VX', 'WN'], dtype=object)]

/Users/diego/.pyenv/versions/3.10.6/envs/flight-predictor/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [43]:
# Display the generated names
print(f"The column names for the encoded values are {ohe.get_feature_names_out()}")

# Transform the current "Street" column
combined_df[ohe.get_feature_names_out()] = ohe.transform(combined_df[['AIRLINE']])

# Drop the column "Street" which has been encoded
combined_df.drop(columns = ["AIRLINE"], inplace = True)

# Show the dataset
combined_df.head(3)

The column names for the encoded values are ['AIRLINE_AA' 'AIRLINE_AS' 'AIRLINE_B6' 'AIRLINE_DL' 'AIRLINE_EV'
 'AIRLINE_F9' 'AIRLINE_HA' 'AIRLINE_MQ' 'AIRLINE_NK' 'AIRLINE_OO'
 'AIRLINE_UA' 'AIRLINE_US' 'AIRLINE_VX' 'AIRLINE_WN']

,YEAR,MONTH,DAY,DAY_OF_WEEK,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,...,AIRLINE_EV,AIRLINE_F9,AIRLINE_HA,AIRLINE_MQ,AIRLINE_NK,AIRLINE_OO,AIRLINE_UA,AIRLINE_US,AIRLINE_VX,AIRLINE_WN
3679572,2015.0,8,17,1,3558.0,N656MQ,ABI,DFW,707.0,701.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
5202464,2015.0,11,21,6,1436.0,N367NW,DTW,BWI,1935.0,1934.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
381725,2015.0,1,26,1,1097.0,N3749D,RDU,LAX,759.0,754.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [44]:
combined_df.to_csv('../../raw_data/cleaned_flights.csv', index=False)

In [47]:
print(f"The unique values for 'Airlines' are {combined_df.ORIGIN_AIRPORT.unique()}")

The unique values for 'Airlines' are ['ABI' 'DTW' 'RDU' 'ORD' 'BTR' 'FLL' 'MSP' 'SFO' 'DEN' 'PHX' 'ROC' 14307
 14747 'BWI' 'TVC' 'SLC' 'ABQ' 'IAH' 12264 'CLT' 'JNU' 'BOS' 'MKE' 'BNA'
 'ATL' 'EWR' 'LAX' 14100 'GEG' 'PBI' 'MLI' 14122 'SEA' 'TUS' 13303 'JAC'
 'DFW' 'PDX' 'CLE' 'SMF' 'DCA' 'MDW' 'HNL' 'OMA' 'MSY' 14908 'CAE' 'HSV'
 'TPA' 'SJC' 'SAN' 'JFK' 'SJU' 'MCO' 'OAK' 'LGA' 'AUS' 'BUF' 'HOU' 'BZN'
 'GRR' 'MIA' 15370 'LAS' 'IND' 'GJT' 13930 14570 'CLD' 'ALB' 15919 'TYR'
 'PSP' 'EVV' 'VPS' 'AZO' 'FWA' 'STL' 11278 10408 '13367' 14635 'ANC' 'JAN'
 'LGB' 'XNA' 'AEX' '10821' 'PWM' 13487 'FNT' 'PHL' 'JAX' 'HYS' 'DBQ' 12889
 'BRO' 'ONT' 'CHO' 13204 'BDL' 'EGE' 'SNA' 'CHS' 14869 'CVG' 11697 12892
 14107 15304 'DAL' 'OKC' 'ELP' 'PIA' 'CMH' 'BTM' 11433 'SBA' 12953 'MEM'
 'SAV' 'SAT' 12173 'ECP' 'MAF' 'IAD' 14027 14679 12945 'WRG' 'LBE' 'MCI'
 'LFT' 'FSM' 'OGG' 'PVD' 'HPN' 'CRP' 13277 11618 14524 'HLN' 'COS' 'RIC'
 11292 'TYS' 'ISN' 'ASE' 'MSN' 'DAY' 14771 'DSM' 'SDF' 13232 'CHA' 13796
 12884 'MYR' 'BOI' 'ILM' 'BMI' 'LIH' 'TTN' 10140 'GRB' 'RSW' 'GSO' 'SBN'
 'FAR' 'BIL' 'CAK' 15412 11298 'ABY' 'CID' 'ORF' 10721 'MHT' 10397 'TOL'
 'KOA' 14730 12266 'BUR' 15376 10299 'ROA' 'BHM' 'MDT' 10821 'GGG' 'ACT'
 'MLB' 'SPI' 'CRW' '10721' 11193 11057 'PIT' 'KTN' 13891 'FAY' 12982 'IDA'
 'DHN' 'ADQ' 'PNS' 'CDC' 'SGF' 'SPS' 'SAF' 11775 'LNK' 14843 13851 11259
 'ICT' 'LIT' 'LWS' 'TLH' 'RDM' 'COD' 'GPT' 'ELM' 12478 'MFE' 11109 10257
 10781 'MOB' 14893 12992 '14683' 'EKO' 'RST' 'ACK' 'GRI' 'MOT' 'PPG' 'FSD'
 'FCA' 10693 10747 'MBS' 'SHV' '13342' 'SGU' 'GRK' 12191 'MGM' 13495
 '14524' 'MLU' 'ACY' 'APN' 'ITO' '13495' 'FAT' 'BRW' 'TUL' 'YAK' 'ROW'
 '11278' 11982 13076 13244 'GNV' 'RNO' 'OME' 'GSP' 'LRD' 'FLG' 'IAG' 'SBP'
 'EWN' '11057' 'LEX' 'BPT' 'RHI' 13342 '14908' 'PSE' 'SRQ' 14492 'LAR'
 'CWA' 10713 '14828' '14492' 'EUG' 12758 'SYR' 'GTF' 14683 'MFR' '14747'
 'STX' 'HRL' 'DVL' 13198 'BQN' '12892' 'OAJ' 'DIK' 'CSG' 13367 'LCH' 'BFL'
 'LSE' 15016 'AMA' 'AVP' 14057 'BGM' 'BIS' 'ISP' 10529 12217 11638 'LBB'
 10279 'DAB' 'BTV' 'CLL' 'AGS' 13476 12954 12278 '12953' 'TRI' 11973
 '11298' 'ABR' 'TXK' 'CMI' 13871 14794 'LAW' 'BGR' 11042 '14869' 10423
 'ABE' 'VLD' 10874 10800 13830 'ESC' 13931 '12264' '11823' 'RAP' '12339'
 10994 'ATW' 'HOB' 14574 'CNY' '10397' '11259' 'SMX' 'MSO' '12478' 10739
 'MRY' 'DRO' 'PSC' '14771' 'EYW' 11630 'UST' 11637 14831 11066 'STT' 'DLH'
 12197 'CPR' 'GCC' 'PSG' 12451 'SIT' '12278' '11066' '10268' 13485 10599
 'EAU' '15016' 10980 'BJI' 'GFK' '10599' 'SWF' 11995 '13930' 14588 'GTR'
 'MKG' 'MHK' 13230 14006 'YUM' 11267 13029 '10800' 'PHF' 11146 14814 10135
 'PIB' 12448 'LAN' 'SJT' 'ORH' '11973' 11308 13290 10627 'AVL' 13377 11067
 10849 12003 '12448' 'OTH' 'FAI' '11337' 14489 14698 13296 'IMT' 'BRD'
 '13232' 'CMX' 12951 12339 'HIB' '11986' 11525 14457 'SUN' 11540 14262
 12391 'ERI' 'BET' 'JLN' '13204' 'BQK' '12889' 12441 'PIH' 15096 '14107'
 11986 'STC' 15356 15624 13422 11337 10990 'BLI' '15304' 'RDD' 10431 'CDV'
 '10529' 'ACV' '11618' 'PAH' 11481 'HYA' 10732 12206 'GUM' '10693' 'ALO'
 11587 'TWF' '14679' 14193 11648 '14057' '13487' 'OTZ' '15376' 14696 13256
 10754 14674 'COU' 14952 'GUC' 15497 13158 'PLN' '13422' 11603 '10785'
 '13303' 'HDN' 'RKS' 12280 '12191' 13433 14576 'SCC' 'CIU' 10155 10792
 11423 14685 10434 '10713' 10577 '14893' 10561 '11292' 12156 14321 '11193'
 'MEI' 12402 'MTJ' '14635' 14098 14986 13241 11867 15991 '14831' 'JMS'
 '12954' 11252 '12266' 11122 '11433' 15024 'SCE' 14842 11617 '15024' 10918
 'SUX' 11953 12896 11049 13360 10158 10469 14633 14689 10136 '12173'
 '14794' 12323 13933 '14698' 11140 '13871' '14576' 15249 13061 12389
 '10994' '11996' 13577 11641 '11977' '11267' 12335 12007 '14843' '11481'
 12343 '13796' '14027' 10372 11778 '10423' '14122' 14783 11721 14108
 '11109' 'MMH' '11697' 11003 10728 11823 12915 'PBG' 15411 '14100' 11921
 '10299' 10141 '13198' '11042' 'INL' 10165 'AKN' 'MQT' 11996 '12898' 11447
 12819 14487 11537 10926 11884 'GCK' '13244' 'WYS' 14252 10333 10868
 '12758' '15249' 15041 '12217' 11977 '14307' '15370' 10631 11111 11980
 13795 10685 13264 12523 '12982' 10620 '11471' 'CEC' 13344 15380 11203
 '11721' 10785 '15027' '12391' '10140' 'DLG' 14150 15401 10157 11612 'ILG'
 10731 '14520' 15070 'PUB' 13970 '14709' 'ADK' 13184 12888 12177 11413
 '14588' '11637' '10926' 'MVY' '10779' '14570' 15027 '14108' 10208 10146
 '14487' 11624 '14457' '12402' 15048 15323 14960 '12451' 12255 '10792'
 13873 '14252' 14254 11577 11695 12898 '14730' '12819' 15295 '12884' 15841
 11150 13127 11315 '10732' 'VEL' '10279' '10561' '13158' 12891 10185 11898
 '10874' '12280' '11140' 14520 14109 '10257' '11995' '12323' '12389'
 '13891' 11905 '13485' '11641' '11587' 11274 '11423' '10731' 11076 '12441'
 12519 11865 13486 '11540' 12129 11471 '15323' '14689' 16218 '11982'
 '11003' 10268 '14986' 12094 14113 '14109' '14814' '13830' 14543 '12945'
 14709 14025 14711 '11203' '13476' '14193' '14321' 15389 '10469' '15041'
 '10990' '13264' '11638' 10551 'GST' 11013 '12915' '15356' '10170' 14256
 '11603' '10333' '12992' '13459' '15411' '15096' '15624' 10779 '11413'
 '13296' '11624' 15607 '12951' '10631' '10685' '15919' '10155' '10849'
 '12197' '14696' 14222 '13277' 13964 'ITH' 14828 '10408' 10581 12511
 '13377' '10620' '13256' '11612' '13931' '11953' '12156' 13459 '10868'
 '12891' '14685' '12335' '11884' 10170 '11648' '14905' '11775' '10431'
 '10781' '10136' '10577' '14574' 11503 '13029' 14905 '15412' '14098'
 '10980' '11146' '13184' '10627' '14262' '12896' 10154 12265 '15607'
 '14842' '13577' '13851' '11049' '11537' '10434' '14783' '12511' '11067'
 '13290' '12523' '14543' 12016 '11252' '10185' '13433' 13541 '11921'
 '14960' '16218' '13241' '13076' '14254' '15841' '14674' '13230' '14025'
 '10141' '10754' '12177' 11097 '14711' '11695' '10747' '13964' '11905'
 '12206' '11097' '13933']

In [48]:
combined_df.ORIGIN_AIRPORT.value_counts()

ORIGIN_AIRPORT
ATL      51241
ORD      47342
DFW      39228
LAX      29654
DEN      29369
         ...
11503        1
11146        1
13184        1
10627        1
13933        1
Name: count, Length: 865, dtype: int64

In [46]:
# Instantiate the OneHotEncoder
ohe = OneHotEncoder(sparse = False) 

# Fit encoder
ohe.fit(combined_df[['ORIGIN_AIRPORT']]) 

# Display the detected categories
print(f"The categories detected by the OneHotEncoder are {ohe.categories_}")

/Users/diego/.pyenv/versions/3.10.6/envs/flight-predictor/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

TypeError: Encoders require their input to be uniformly strings or numbers. Got ['int', 'str']