In [9]:
import pandas as pd
import datetime
import numpy as np
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv('../../raw_data/cleaned_flights.csv', nrows=500000)

In [6]:
df.head(5)

,YEAR,MONTH,DAY,DAY_OF_WEEK,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,...,AIRLINE_EV,AIRLINE_F9,AIRLINE_HA,AIRLINE_MQ,AIRLINE_NK,AIRLINE_OO,AIRLINE_UA,AIRLINE_US,AIRLINE_VX,AIRLINE_WN
0,2015.0,8,17,1,3558.0,N656MQ,ABI,DFW,707.0,701.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2015.0,11,21,6,1436.0,N367NW,DTW,BWI,1935.0,1934.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2015.0,1,26,1,1097.0,N3749D,RDU,LAX,759.0,754.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2015.0,9,25,5,1135.0,N21723,ORD,DSM,917.0,914.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,2015.0,1,21,3,3015.0,N814MQ,BTR,DFW,846.0,838.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
type(df['SCHEDULED_ARRIVAL'][0])

numpy.int64