In [1]:
import numpy as np
import pandas as pd
import datetime
from sklearn.preprocessing import OneHotEncoder

In [2]:
combined_df = pd.read_csv('../../raw_data/cleaned_flights.csv',nrows=500000)

In [3]:
combined_df.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,...,AIRLINE_EV,AIRLINE_F9,AIRLINE_HA,AIRLINE_MQ,AIRLINE_NK,AIRLINE_OO,AIRLINE_UA,AIRLINE_US,AIRLINE_VX,AIRLINE_WN
0,2015.0,8,17,1,3558.0,N656MQ,ABI,DFW,707.0,701.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2015.0,11,21,6,1436.0,N367NW,DTW,BWI,1935.0,1934.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2015.0,1,26,1,1097.0,N3749D,RDU,LAX,759.0,754.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2015.0,9,25,5,1135.0,N21723,ORD,DSM,917.0,914.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,2015.0,1,21,3,3015.0,N814MQ,BTR,DFW,846.0,838.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
pre_cleaned_df = pd.read_csv('../../raw_data/pre_cleaned_flights.csv')
pre_cleaned_df.head()

/var/folders/wd/v2y3d4d948j0h2gc56s15nzr0000gn/T/ipykernel_78800/3160650153.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  pre_cleaned_df = pd.read_csv('../../raw_data/pre_cleaned_flights.csv')

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015.0,8,17,1,MQ,3558.0,N656MQ,ABI,DFW,707.0,...,746.0,-19.0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015.0,11,21,6,DL,1436.0,N367NW,DTW,BWI,1935.0,...,2144.0,25.0,0.0,0,NaN,25.0,0.0,0.0,0.0,0.0
2,2015.0,1,26,1,DL,1097.0,N3749D,RDU,LAX,759.0,...,1021.0,-29.0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015.0,9,25,5,UA,1135.0,N21723,ORD,DSM,917.0,...,1036.0,-2.0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015.0,1,21,3,MQ,3015.0,N814MQ,BTR,DFW,846.0,...,1001.0,-19.0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
pre_cleaned_df.ORIGIN_AIRPORT.unique()

array(['ABI', 'DTW', 'RDU', 'ORD', 'BTR', 'FLL', 'MSP', 'SFO', 'DEN',
       'PHX', 'ROC', '14307', '14747', 'BWI', 'TVC', 'SLC', 'ABQ', 'IAH',
       '12264', 'CLT', 'JNU', 'BOS', 'MKE', 'BNA', 'ATL', 'EWR', 'LAX',
       '14100', 'GEG', 'PBI', 'MLI', '14122', 'SEA', 'TUS', '13303',
       'JAC', 'DFW', 'PDX', 'CLE', 'SMF', 'DCA', 'MDW', 'HNL', 'OMA',
       'MSY', '14908', 'CAE', 'HSV', 'TPA', 'SJC', 'SAN', 'JFK', 'SJU',
       'MCO', 'OAK', 'LGA', 'AUS', 'BUF', 'HOU', 'BZN', 'GRR', 'MIA',
       '15370', 'LAS', 'IND', 'GJT', '13930', '14570', 'CLD', 'ALB',
       '15919', 'TYR', 'PSP', 'EVV', 'VPS', 'AZO', 'FWA', 'STL', '11278',
       '10408', '13367', '14635', 'ANC', 'JAN', 'LGB', 'XNA', 'AEX',
       '10821', 'PWM', '13487', 'FNT', 'PHL', 'JAX', 'HYS', 'DBQ',
       '12889', 'BRO', 'ONT', 'CHO', '13204', 'BDL', 'EGE', 'SNA', 'CHS',
       '14869', 'CVG', '11697', '12892', '14107', '15304', 'DAL', 'OKC',
       'ELP', 'PIA', 'CMH', 'BTM', '11433', 'SBA', '12953', 'MEM', 'SAV',
       'SAT', '12173', 'ECP', 'MAF', 'IAD', '14027', '14679', '12945',
       'WRG', 'LBE', 'MCI', 'LFT', 'FSM', 'OGG', 'PVD', 'HPN', 'CRP',
       '13277', '11618', '14524', 'HLN', 'COS', 'RIC', '11292', 'TYS',
       'ISN', 'ASE', 'MSN', 'DAY', '14771', 'DSM', 'SDF', '13232', 'CHA',
       '13796', '12884', 'MYR', 'BOI', 'ILM', 'BMI', 'LIH', 'TTN',
       '10140', 'GRB', 'RSW', 'GSO', 'SBN', 'FAR', 'BIL', 'CAK', '15412',
       '11298', 'ABY', 'CID', 'ORF', '10721', 'MHT', '10397', 'TOL',
       'KOA', '14730', '12266', 'BUR', '15376', '10299', 'ROA', 'BHM',
       'MDT', 'GGG', 'ACT', 'MLB', 'SPI', 'CRW', '11193', '11057', 'PIT',
       'KTN', '13891', 'FAY', '12982', 'IDA', 'DHN', 'ADQ', 'PNS', 'CDC',
       'SGF', 'SPS', 'SAF', '11775', 'LNK', '14843', '13851', '11259',
       'ICT', 'LIT', 'LWS', 'TLH', 'RDM', 'COD', 'GPT', 'ELM', '12478',
       'MFE', '11109', '10257', '10781', 'MOB', '14893', '12992', '14683',
       'EKO', 'RST', 'ACK', 'GRI', 'MOT', 'PPG', 'FSD', 'FCA', '10693',
       '10747', 'MBS', 'SHV', '13342', 'SGU', 'GRK', '12191', 'MGM',
       '13495', 'MLU', 'ACY', 'APN', 'ITO', 'FAT', 'BRW', 'TUL', 'YAK',
       'ROW', '11982', '13076', '13244', 'GNV', 'RNO', 'OME', 'GSP',
       'LRD', 'FLG', 'IAG', 'SBP', 'EWN', 'LEX', 'BPT', 'RHI', 'PSE',
       'SRQ', '14492', 'LAR', 'CWA', '10713', '14828', 'EUG', '12758',
       'SYR', 'GTF', 'MFR', 'STX', 'HRL', 'DVL', '13198', 'BQN', 'OAJ',
       'DIK', 'CSG', 'LCH', 'BFL', 'LSE', '15016', 'AMA', 'AVP', '14057',
       'BGM', 'BIS', 'ISP', '10529', '12217', '11638', 'LBB', '10279',
       'DAB', 'BTV', 'CLL', 'AGS', '13476', '12954', '12278', 'TRI',
       '11973', 'ABR', 'TXK', 'CMI', '13871', '14794', 'LAW', 'BGR',
       '11042', '10423', 'ABE', 'VLD', '10874', '10800', '13830', 'ESC',
       '13931', '11823', 'RAP', '12339', '10994', 'ATW', 'HOB', '14574',
       'CNY', 'SMX', 'MSO', '10739', 'MRY', 'DRO', 'PSC', 'EYW', '11630',
       'UST', '11637', '14831', '11066', 'STT', 'DLH', '12197', 'CPR',
       'GCC', 'PSG', '12451', 'SIT', '10268', '13485', '10599', 'EAU',
       '10980', 'BJI', 'GFK', 'SWF', '11995', '14588', 'GTR', 'MKG',
       'MHK', '13230', '14006', 'YUM', '11267', '13029', 'PHF', '11146',
       '14814', '10135', 'PIB', '12448', 'LAN', 'SJT', 'ORH', '11308',
       '13290', '10627', 'AVL', '13377', '11067', '10849', '12003', 'OTH',
       'FAI', '11337', '14489', '14698', '13296', 'IMT', 'BRD', 'CMX',
       '12951', 'HIB', '11986', '11525', '14457', 'SUN', '11540', '14262',
       '12391', 'ERI', 'BET', 'JLN', 'BQK', '12441', 'PIH', '15096',
       'STC', '15356', '15624', '13422', '10990', 'BLI', 'RDD', '10431',
       'CDV', 'ACV', 'PAH', '11481', 'HYA', '10732', '12206', 'GUM',
       'ALO', '11587', 'TWF', '14193', '11648', 'OTZ', '14696', '13256',
       '10754', '14674', 'COU', '14952', 'GUC', '15497', '13158', 'PLN',
       '11603', '10785', 'HDN', 'RKS', '12280', '13433', '14576', 'SCC',
       'CIU', '10155', '10792', '11423', '14685', '10434', '10577',
       '10561', '12156', '14321', 'MEI', '12402', 'MTJ', '14098', '14986',
       '13241', '11867', '15991', 'JMS', '11252', '11122', '15024', 'SCE',
       '14842', '11617', '10918', 'SUX', '11953', '12896', '11049',
       '13360', '10158', '10469', '14633', '14689', '10136', '12323',
       '13933', '11140', '15249', '13061', '12389', '11996', '13577',
       '11641', '11977', '12335', '12007', '12343', '10372', '11778',
       '14783', '11721', '14108', 'MMH', '11003', '10728', '12915', 'PBG',
       '15411', '11921', '10141', 'INL', '10165', 'AKN', 'MQT', '12898',
       '11447', '12819', '14487', '11537', '10926', '11884', 'GCK', 'WYS',
       '14252', '10333', '10868', '15041', '10631', '11111', '11980',
       '13795', '10685', '13264', '12523', '10620', '11471', 'CEC',
       '13344', '15380', '11203', '15027', 'DLG', '14150', '15401',
       '10157', '11612', 'ILG', '10731', '14520', '15070', 'PUB', '13970',
       '14709', 'ADK', '13184', '12888', '12177', '11413', 'MVY', '10779',
       '10208', '10146', '11624', '15048', '15323', '14960', '12255',
       '13873', '14254', '11577', '11695', '15295', '15841', '11150',
       '13127', '11315', 'VEL', '12891', '10185', '11898', '14109',
       '11905', '11274', '11076', '12519', '11865', '13486', '12129',
       '16218', '12094', '14113', '14543', '14025', '14711', '15389',
       '10551', 'GST', '11013', '10170', '14256', '13459', '15607',
       '14222', '13964', 'ITH', '10581', '12511', '14905', '11503',
       '10154', '12265', '12016', '13541', '11097'], dtype=object)

In [8]:
pre_cleaned_df.ORIGIN_AIRPORT.value_counts()

ORIGIN_AIRPORT
ATL      51241
ORD      47342
DFW      39228
LAX      29654
DEN      29369
         ...
12265        2
11097        2
10165        1
11503        1
13541        1
Name: count, Length: 627, dtype: int64

In [9]:
pre_cleaned_df.DESTINATION_AIRPORT.unique()

array(['DFW', 'BWI', 'LAX', 'DSM', 'HOU', 'IAH', 'BFL', 'EWR', 'BUR',
       'STL', '11697', 'SAN', 'PHX', '14893', 'CMH', 'ORD', 'DAL', 'GRR',
       'DCA', 'DEN', 'KTN', 'PHL', 'CLE', 'BOS', 'SEA', '13495', 'TYS',
       'PDX', 'AUS', 'ROA', 'DTW', 'FLL', '11298', 'LAS', 'LCH', 'SNA',
       'ATL', 'MKE', 'KOA', '12889', 'SJC', 'SLC', 'CSG', 'HLN', 'MSY',
       'BGR', 'LGA', 'LBE', 'PBI', 'RDU', 'SYR', 'RNO', 'COS', 'CHS',
       'DAY', 'SMF', 'CLT', 'SFO', '11292', 'MSP', 'JFK', 'SDF', 'FAR',
       'FAT', 'OKC', 'PWM', 'PSC', 'CHA', 'ANC', '12478', 'TUS', '11618',
       'ORF', '13930', 'MDW', 'IAD', 'TPA', 'MDT', 'BIL', 'BDL', 'MEM',
       'LEX', '14057', 'LFT', '10397', 'IDA', '13232', 'PSP', '14107',
       'MCO', '14908', 'LRD', '10693', 'RSW', 'BHM', 'MIA', '12953',
       'GTR', 'ATW', 'SAT', 'ABQ', '15376', 'BTR', 'OAK', 'ELP', '12173',
       '13342', '11775', 'TUL', 'SPI', 'MCI', 'BNA', 'OMA', 'GJT', 'MYR',
       'MSN', '15304', '14679', '14843', 'PNS', '14747', 'PIT', 'SGF',
       '10721', 'IND', 'FNT', 'RIC', 'ITO', 'PSG', 'AMA', 'LIT', '14771',
       '14831', 'SBP', 'OAJ', 'MLU', 'RAP', 'SMX', 'HNL', 'SPS', 'ALB',
       'ONT', 'BQK', 'DBQ', 'AVP', 'LIH', '13204', 'HSV', '12339', 'ROC',
       'JAX', '14487', 'LBB', '10821', '11278', 'BOI', 'OGG', 'SJU',
       'BIS', '13830', '14869', 'LNK', '12266', 'CID', 'TXK', '14100',
       'GPT', 'GRK', 'ICT', 'EAU', 'TTN', '11433', 'HPN', 'SBA', 'SAV',
       '12892', '11057', '13891', 'CVG', 'EUG', 'STT', 'SGU', 'ECP',
       'DAB', '10685', 'SBN', 'MFR', 'GEG', '12264', 'GSO', '14307',
       'WRG', 'XNA', 'ACY', '10994', 'GNV', 'PUB', 'YUM', '12992',
       '12945', 'EVV', '15323', 'AGS', '13487', '10423', 'ACT', '12451',
       '14492', 'CLD', 'TVC', 'FSD', 'CAE', 'SAF', 'AVL', 'TWF', 'ABR',
       '10785', 'GRB', 'ISP', '12191', 'ELM', 'JNU', 'CRP', 'ABY', 'ERI',
       'MRY', 'BTV', 'GUM', 'LAN', 'BQN', 'MAF', 'VLD', '10781', 'MEI',
       'MHT', 'ALO', 'FLG', 'FAI', 'DIK', '14635', 'PIH', 'FSM', 'LAW',
       '13796', 'VPS', 'SUN', 'MSO', '13076', 'MLB', 'AEX', 'RDM', 'MGM',
       'CAK', '13198', 'COD', 'PAH', 'CDV', '11193', '10408', 'PIA',
       'CMI', 'BUF', 'CHO', 'GCK', 'MLI', 'BZN', '11638', 'FCA', 'MOB',
       '11066', '15249', '10868', '10140', 'JAN', 'PHF', 'ACV', '13303',
       '12402', 'SRQ', '14321', '12523', 'BRO', '10713', '11140', '10577',
       'LGB', 'ORH', 'PVD', 'RHI', '15016', '15411', 'RST', 'FWA', 'ABI',
       '11259', 'PSE', '15380', '13577', 'BMI', '14683', '14524', 'JAC',
       'MTJ', 'LSE', 'TRI', '13377', 'SHV', '15370', 'TLH', '11641',
       '13367', 'ILM', 'GSP', '11267', 'DRO', '14122', '13931', '13244',
       'GGG', 'ASE', '13296', '11884', '13486', '15070', 'CWA', 'MHK',
       'MFE', '10849', 'FAY', 'IMT', '11109', '15412', '10792', 'ABE',
       'RKS', '11111', '10257', 'SJT', 'ROW', '11953', 'BTM', '14842',
       'CPR', 'HRL', 'CLL', '11624', 'LWS', '11995', '11637', '11823',
       'ESC', '11986', 'CRW', '10800', 'EYW', 'GTF', 'DLH', 'EGE',
       '14254', 'HIB', 'ISN', 'ACK', 'MOT', 'PPG', 'CIU', '11977',
       '12951', 'GCC', 'SUX', '12891', '10299', 'GRI', '13851', 'BPT',
       'GUC', 'AZO', 'PLN', '11423', 'SCE', '13871', 'TYR', '16218',
       '11042', '14633', '13433', '13970', '14730', '11617', 'MBS', 'STX',
       'VEL', 'SCC', '14108', '14814', '10551', '15624', 'COU', 'BRW',
       'GFK', 'TOL', '10185', '14783', '12278', '10279', '12758', '12954',
       '12896', 'SIT', '14570', 'INL', 'DHN', '11973', 'HYS', '13933',
       '15096', '11996', '14576', '12441', '14027', '15607', '14698',
       'JMS', '12391', 'SWF', '12982', '14262', 'BET', 'LAR', 'JLN',
       'GST', '15919', '12197', '11540', 'APN', '10529', '11525', '11013',
       '15356', 'OTZ', 'HDN', '11921', 'HOB', '14489', '14986', '15027',
       '11122', '13127', 'BJI', '10620', '11630', '10918', '13029',
       '14689', 'MKG', '12519', 'BLI', '10627', '12206', 'YAK', '11003',
       'CEC', '14794', '13422', 'RDD', 'ADK', 'IAG', '12915', '10731',
       '13277', 'EWN', '12156', '11982', '10980', '14685', '13476',
       '12448', '11146', '11778', '14674', 'BRD', '10599', '10431',
       '12819', '11337', 'OTH', '14574', 'ADQ', 'PIB', '13158', '13485',
       '14109', 'OME', '14709', '10926', '10990', 'DVL', 'WYS', 'EKO',
       '13964', '11721', '14588', '14960', '13256', '10208', '10157',
       '10154', '12280', '10561', '10158', '11150', '10434', '11203',
       'CMX', '11067', '14252', '14952', 'MQT', '10372', '14520', '10874',
       '13360', 'MVY', '10747', '12129', '12217', '11076', '10136', 'CDC',
       '12007', '14193', '14113', '12898', '11308', 'CNY', '11049',
       '12335', '10165', '11481', '14696', '14457', '11537', '10135',
       '14828', '11603', '13061', '11274', '12389', '11315', '13795',
       '11612', '12511', '13230', '15024', '10333', '13873', '10754',
       '10155', '14098', '13264', 'PBG', '12003', 'MMH', 'BGM', '11648',
       '15991', '11865', '12177', '15048', 'UST', '11695', '11898',
       '12884', 'ITH', 'STC', '11867', '12016', '10728', '11587', '11413',
       '15841', '14256', 'HYA', '13344', '14025', '10739', '13184',
       '14711', '10469', 'AKN', '10141', '13241', 'DLG', '15041', '11980',
       '11252', '14006', '13290', '12255', '10581', '11447', '15401',
       '14905', '12888', '11471', '15389', '12323', '10146', 'ILG',
       '10732', '15295', '14543', '12265', '14150', '10268', '11905',
       '10631', '12343', '14222', '12094', '10170', '10779', '11577',
       '11097', '13502', '13541', '15497'], dtype=object)

In [10]:
pre_cleaned_df.DESTINATION_AIRPORT.value_counts()

DESTINATION_AIRPORT
ATL      51427
ORD      48275
DFW      39777
DEN      29696
LAX      29576
         ...
14222        2
14025        1
13502        1
13541        1
15497        1
Name: count, Length: 626, dtype: int64