In [2]:
import pandas as pd

In [3]:
cancelled_df = pd.read_csv('../../raw_data/ony_cancelled_df.csv')

In [6]:
cancelled_df.head()

,MONTH,DAY,DAY_OF_WEEK,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_TIME,DISTANCE,SCHEDULED_ARRIVAL,CANCELLED
0,1,1,4,AS,ANC,SEA,205.0,1448,600,1
1,1,1,4,AA,PHX,DFW,120.0,868,500,1
2,1,1,4,OO,MAF,IAH,87.0,429,637,1
3,1,1,4,MQ,SGF,DFW,95.0,364,700,1
4,1,1,4,OO,RDD,SFO,90.0,199,700,1

In [4]:
cancelled_df.ORIGIN_AIRPORT.unique()

array(['ANC', 'PHX', 'MAF', 'SGF', 'RDD', 'CHS', 'SMX', 'ABI', 'XNA',
       'DCA', 'LGA', 'MCO', 'SFO', 'ONT', 'MSO', 'ORD', 'AMA', 'CLL',
       'HOU', 'DFW', 'JLN', 'CID', 'MLI', 'GSP', 'MHK', 'MOB', 'TLH',
       'CVG', 'CAE', 'TXK', 'CMX', 'SMF', 'LRD', 'MFE', 'FSM', 'AEX',
       'SPS', 'ACT', 'SJT', 'JAN', 'BNA', 'DTW', 'FAR', 'MSN', 'SJC',
       'SAV', 'GRI', 'LAX', 'ATL', 'LEX', 'VPS', 'GPT', 'MGM', 'MSY',
       'SPI', 'IAH', 'PIA', 'ROW', 'FWA', 'FLL', 'HOB', 'COU', 'SAF',
       'GRR', 'LFT', 'TUL', 'ELP', 'DVL', 'TUS', 'GRK', 'PNS', 'GJT',
       'BMI', 'RKS', 'MIA', 'DAL', 'LCH', 'GCK', 'GSO', 'AUS', 'BTR',
       'ICT', 'FLG', 'STL', 'SAT', 'JMS', 'MSP', 'ROC', 'TPA', 'OMA',
       'SHV', 'TOL', 'CRP', 'OKC', 'LAW', 'DSM', 'LBB', 'LIT', 'SAN',
       'DEN', 'MEM', 'APN', 'CMH', 'HSV', 'SLC', 'MKE', 'BHM', 'TYR',
       'MLU', 'GUC', 'ABQ', 'DRO', 'CHA', 'BRO', 'HRL', 'PHL', 'EGE',
       'BWI', 'CLT', 'SDF', 'FCA', 'DIK', 'PUB', 'ASE', 'JFK', 'ISN',
       'BOI', 'CPR', 'PDX', 'SNA', 'GGG', 'PSC', 'OGG', 'BOS', 'HNL',
       'OAK', 'BUR', 'TYS', 'LAS', 'PSP', 'IND', 'RAP', 'MDW', 'SEA',
       'GCC', 'HYS', 'JAC', 'EUG', 'COD', 'GEG', 'MOT', 'MCI', 'HLN',
       'BTM', 'FSD', 'PLN', 'RDM', 'HPN', 'CLE', 'AZO', 'IAD', 'COS',
       'MTJ', 'PIT', 'TTN', 'MFR', 'ROA', 'RIC', 'DBQ', 'TVC', 'GTF',
       'BIL', 'FNT', 'CMI', 'SBP', 'RSW', 'GNV', 'GRB', 'SYR', 'RDU',
       'LGB', 'YAK', 'SJU', 'SWF', 'EWR', 'BUF', 'JNU', 'BIS', 'BQN',
       'BJI', 'ESC', 'MRY', 'SBN', 'BZN', 'CWA', 'LNK', 'SUX', 'EWN',
       'BQK', 'LSE', 'ALO', 'RHI', 'RST', 'ORH', 'JAX', 'BDL', 'ORF',
       'FAT', 'DAY', 'CRW', 'CHO', 'LAN', 'MKG', 'MBS', 'MHT', 'EVV',
       'MDT', 'ACV', 'SBA', 'PVD', 'BPT', 'HIB', 'ABR', 'MYR', 'BRD',
       'DLH', 'SCE', 'STC', 'IMT', 'KOA', 'ERI', 'ELM', 'WRG', 'BET',
       'IDA', 'OAJ', 'TWF', 'EAU', 'ATW', 'AVP', 'CAK', 'IAG', 'BTV',
       'PAH', 'RNO', 'PIH', 'KTN', 'CLD', 'ABE', 'MEI', 'SUN', 'FAI',
       'PBI', 'BFL', 'ABY', 'ADQ', 'VLD', 'TRI', 'ECP', 'LIH', 'EYW',
       'AVL', 'PWM', 'VEL', 'CEC', 'OTH', 'MMH', 'PBG', 'MQT', 'PHF',
       'OME', 'FAY', 'ISP', 'SRQ', 'HDN', 'PSE', 'SCC', 'STT', 'ALB',
       'ACY', 'PSG', 'ITO', 'OTZ', 'YUM', 'BLI', 'ILG', 'BGM', 'CIU',
       'UST', 'SIT', 'LBE', 'BGR', 'ITH', 'LAR', 'PIB', 'CDV', 'DHN',
       'GTR', 'CDC', 'DAB', 'MLB', 'AGS', 'ILM', 'BRW', 'CSG', 'CNY',
       'ADK', 'STX', 'GUM', 'INL', 'EKO', 'SGU', 'GFK', 'HYA', 'ACK',
       'GST', '13198', '10821', '11695', '11618', '14771', '13204',
       '13796', '12892', '14893', '10800', '14107', '14908', '11057',
       '12197', '12953', '12173', '10299', '10721', '11278', '14321',
       '13970', '10792', '13495', '13873', '13830', '11433', '11292',
       '10693', '13487', '14698', '10599', '13871', '11612', '11109',
       '14027', '14570', '12266', '11042', '11697', '14524', '13296',
       '15041', '13244', '12323', '10257', '11193', '12339', '13342',
       '10994', '15016', '10431', '10868', '11995', '14307', '14685',
       '10785', '14100', '13422', '12451', '14457', '12992', '11267',
       '11986', '11996', '13930', '14747', '14869', '10747', '12278',
       '12884', '10849', '13303', '13851', '10779', '13256', '11884',
       '10713', '12478', '14679', '10397', '14006', '10423', '12191',
       '11977', '11298', '15070', '14843', '11638', '14492', '13577',
       '14057', '12389', '12888', '11259', '13158', '14635', '10529',
       '12982', '14831', '13264', '12889', '15304', '10170', '13476',
       '13933', '11540', '11603', '11775', '15376', '11076', '11973',
       '13891', '11423', '13232', '11587', '10140', '11066', '12819',
       '12264', '11721', '15412', '15841', '13964', '13184', '11637',
       '12523', '14709', '11337', '10754', '11630', '14108', '10620',
       '14905', '14952', '10408', '12129', '12343', '10157', '14689',
       '15401', '10781', '14783', '11140', '12206', '13377', '12915',
       '14193', '11122', '12016', '12898', '10627', '14683', '14814',
       '14254', '14576', '13433', '15370', '10333', '14674', '14588',
       '10990', '15096', '10372', '10136', '12448', '14842', '10155',
       '10185', '11982', '15919', '11778', '15411', '12891', '12896',
       '13061', '10279', '11049', '14960', '11413', '12951', '10728',
       '13076', '15624', '11980', '13277', '13367', '11905', '10980',
       '14109', '15249', '11921', '11867', '13290', '14122', '11003',
       '13241', '14520', '12335', '14256', '12945', '10141', '10469',
       '10874', '13931', '14730', '10158', '12954', '11097', '14986'],
      dtype=object)

In [5]:
cancelled_df.ORIGIN_AIRPORT.value_counts()

ORIGIN_AIRPORT
ORD      8548
DFW      6254
LGA      4531
EWR      3110
BOS      2654
         ...
CNY         1
12982       1
13076       1
12888       1
14986       1
Name: count, Length: 525, dtype: int64