In [1]:
import numpy as np
import pandas as pd

In [2]:
combined_df = pd.read_csv('../../raw_data/pre_processed_df.csv')

In [3]:
combined_df.head()

,MONTH,DAY,DAY_OF_WEEK,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_TIME,DISTANCE,SCHEDULED_ARRIVAL,CANCELLED
0,11,23,1,OO,FAT,SEA,135.0,748,815,0
1,6,4,4,WN,MKE,BWI,115.0,641,1250,0
2,5,18,1,OO,RKS,DEN,80.0,260,650,0
3,6,9,2,AS,SEA,ANC,206.0,1448,51,0
4,9,29,2,DL,MOB,ATL,81.0,302,946,0

In [4]:
counts=combined_df['ORIGIN_AIRPORT'].value_counts()
counts

ORIGIN_AIRPORT
ATL      51281
ORD      47441
DFW      39161
LAX      29443
DEN      29297
         ...
13541        2
15497        1
14025        1
13502        1
14222        1
Name: count, Length: 627, dtype: int64

In [5]:
combined_df.ORIGIN_AIRPORT.str.len()

0         3
1         3
2         3
3         3
4         3
         ..
898835    3
898836    3
898837    3
898838    3
898839    3
Name: ORIGIN_AIRPORT, Length: 898840, dtype: int64

In [6]:
new_dataframe2 = combined_df.loc[combined_df['ORIGIN_AIRPORT'].str.len()<4,:]

In [7]:
new_dataframe2.CANCELLED.value_counts()

CANCELLED
0    740611
1     87430
Name: count, dtype: int64

In [8]:
new_dataframe2.ORIGIN_AIRPORT.value_counts()

ORIGIN_AIRPORT
ATL    51281
ORD    47441
DFW    39161
LAX    29443
DEN    29297
       ...
GST       13
HYA       12
ITH       11
AKN        7
DLG        6
Name: count, Length: 322, dtype: int64

In [12]:

new_dataframe3 = new_dataframe2.loc[new_dataframe2['ORIGIN_AIRPORT']
                                 .isin(counts[counts>1000].index)|new_dataframe2.CANCELLED==1,:]

In [13]:
new_dataframe3.ORIGIN_AIRPORT.value_counts()

ORIGIN_AIRPORT
ATL    51281
ORD    47441
DFW    39161
LAX    29443
DEN    29297
       ...
PBG        2
CNY        1
CDC        1
HYA        1
GST        1
Name: count, Length: 316, dtype: int64

In [14]:
new_dataframe3.CANCELLED.value_counts()

CANCELLED
0    683616
1     87430
Name: count, dtype: int64

In [15]:
counts_dest=combined_df['DESTINATION_AIRPORT'].value_counts()
counts_dest

DESTINATION_AIRPORT
ATL      51181
ORD      48583
DFW      39747
LAX      29647
DEN      29608
         ...
10581        2
13541        2
12265        1
14222        1
10165        1
Name: count, Length: 626, dtype: int64

In [16]:
new_dataframe4 = new_dataframe3.loc[new_dataframe3['DESTINATION_AIRPORT']
                                 .isin(counts_dest[counts_dest>1000].index)|new_dataframe3.CANCELLED==1,:]

In [17]:
new_dataframe4.DESTINATION_AIRPORT.value_counts()

DESTINATION_AIRPORT
ORD    40586
ATL    40439
DFW    31991
LAX    28545
DEN    25701
       ...
GST        1
BJI        1
CDC        1
CNY        1
PBG        1
Name: count, Length: 316, dtype: int64

In [18]:
new_dataframe4.CANCELLED.value_counts()

CANCELLED
0    627421
1     87430
Name: count, dtype: int64

In [19]:
# EL DATAFRAME ACTUAL TIENE 316 AEROPUERTOS DE ORIGEN Y DE LLEGADA
#TIENE 627.421 VUELOS NO CANCELADOS
#TIENE 87430 VUELOS SI CANCELADOS

new_dataframe4.to_csv('../../raw_data/miercoles_316airports.csv', index=False)